#messages {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 75%;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 18px;
  position: relative;
  word-break: break-word;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sent {
  align-self: flex-end;
  background-color: #003878;
  color: white;
  border-radius: 18px 18px 0 18px;
  text-align: right;
  max-width: 85%;
}

.received {
  align-self: flex-start;
  background-color: white;
  color: #003878;
  border-radius: 18px 18px 18px 0;
  text-align: left;
  max-width: 85%;
}


.form-group-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  z-index: 100;
}

.input-message {
  flex-grow: 1;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  width: 100%;
}

.btn-send-chat {
  width: 55px;
  height: 55px;
  color: #003878;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.btn-send-chat i {
  font-size: 35px;
}

.message-profile-photo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.match-index-photo {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  display: block;
}

.header-chat {
  background-color: #FFF;
  height: 60px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start;
  text-align: left;
}

.header-chat .btn-back-messages {
  display: flex;
  align-items: center;
  color: #003878;
  font-size: 35px;
  text-decoration: none;
  cursor: pointer;
}

.header-chat .name {
  font-family: 'Lilita One', sans-serif;
  color: #003878;
  text-transform: capitalize;
  font-size: 16pt;
  display: block;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .form-group-message {
    padding: 8px;
  }

  .input-message {
    font-size: 16px;
    padding: 10px;
  }

  .btn-send-chat {
    width: 50px;
    height: 50px;
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  .input-message {
    font-size: 16px;
    padding: 12px;
  }

  .btn-send-chat {
    width: 45px;
    height: 45px;
    font-size: 35px;
  }
}
