.banner {
  padding: 50px 0px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;

  .title-home {
    color: #1369CB;
    font-size: 2rem;
    font-weight: bold;
    font-size: 41px;
    font-family: $headers-font;
    text-align: center;
    width: 100%;
    display: block;
  }

  .title-home-2 {
    color: #003878;
    font-size: 2rem;
    font-weight: bold;
    font-size: 41px;
    font-family: $headers-font;
    text-align: center;
    display: block;
  }

  .title-home-3 {
    color: #1369CB;
    font-size: 2rem;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
  }

  .search-box  {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-color: #003878;
    width: 100%;
    padding: 12px 20px;

    .btn-pesquisa {
      background-color: #003878;
      color: $white;
      padding: 15px;
      font-weight: bold;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
      border-radius: 20px;
      justify-content: center;

      &:hover {
        background-color: darken($light-blue, 10%);
      }
    }
  }
}

.custom-section-title {
  background: linear-gradient(180deg, #2782EB 0%, #AFEBFF 100%);
  padding: 50px 0;
  color: #003878;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .image-container {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .card-img-top {
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }

  &:hover .card-img-top {
    transform: scale(1.1);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    color: #f4f4f4;
    background-color: #f4f4f4;;
  }

  .card-title {
    color: #003878;
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
  }

  .card-description {
    font-size: 14px;
    line-height: 1.5;
    color: #f4f4f4;
  }

  .btn-explore {
    background-color: #003878;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    align-self: stretch;
    margin-top: auto;

    &:hover {
      background-color: #7EB9FC;
    }
}
}
banner-img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.search-section-chat {
  position: relative;
  background: url('<%= image_path("guide.png") %>') no-repeat center center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-top: 10px;
}


.search-overlay-chat {
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.search-form-chat .form-control-chat {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .search-section-chat {
    height: 300px;
    text-align: center;
  }
  .search-overlay-chat {
    max-width: 90%;
    text-align: center;
  }
}

.banner-vantagens {
  background-color: #003878;
  color: #ffffff;
  text-align: center;
  padding: 60px 20px;
  margin: 20px;

  .banner-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 28px;
    margin-bottom: 40px;
  }

  .card-vantagem {
    max-width: 320px;
    margin: 0 auto 30px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .vantagem-icon {
    width: 80px;
    height: 80px;
  }

  .vantagem-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 20px;
    color: #AFEBFF;
    margin-bottom: 10px;
  }

  .vantagem-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  .vantagem-title {
    font-size: 22px;
  }

  .vantagem-text {
    font-size: 18px;
  }
}
