<h1>My Messages</h1>

<% @matches.each do |match| %>
<% if match.user.profile.name == current_user.profile.name %>
    <%= match.profile.profile.name %>

<% else %>
<%= match.user.profile.name %>
<% end %>
    <%= link_to 'Chat', match_path(match), class: 'btn btn-primary' %>
<% end %>
