<h1>My Messages</h1>

<% @matches.each do |match| %>
  <div class="match">
    <p><strong>Profile_id:</strong> <%= match.profile.name %></p>
    <p><strong>User_id:</strong> <%= match.user.name %></p>
    <%= link_to 'Chat', match_path(match), class: 'btn btn-primary' %>
<% end %>
