<h1>My Messages</h1>

<% @matches.each do |match| %>
  <div class="match">
      <% if match.user == current_user %>
        <%= match.profile.name %>
      <% else %>
        <% other_profile = Profile.find_by(user_id: match.user_id) %>
        <%= other_profile.name if other_profile %>
      <% end %>
    </p>
    <%= link_to 'Chat', match_path(match), class: 'btn btn-primary' %>
  </div>
<% end %>
